{{#each facturas}}

  <div class="card mb-3">

    <div class="row">
      
      <div class="col">
        
        <div class="card-body">
          
          <div class="d-flex bd-highlight d-flex align-items-center">
           
            <div class="flex-grow-1 bd-highlight "><h5>Factura n°: {{cod_fact}}</h5></div>
            
          </div>

          <div class="table-responsive mt-2">

            <table class="table table-bordered table-md">
              <thead>
                <tr>
                  <th scope="col">Producto</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Subtotal</th>
                </tr>
                
              </thead>
              
              <tbody>
                {{#each elementos}}
                   <tr>
                    <td>{{nombre_prod}}</td>
                    <td>{{cantidad}}</td>
                    <td>$ {{precio_venta}}</td>
                    <td>$ {{subtotal}}</td>
                   
                  </tr>
                  
                {{/each}}

                  <tr>
                    <td colspan="3"><Strong>TOTAL</Strong></td>
                    <td><Strong>$ {{total}}</Strong></td>
                  </tr>
              </tbody>
            </table>
          
          </div>          
          
        </div>
      </div>

    </div>


  </div>

{{/each}}