{{#if (tipo_usuario user.tipo)}}

<div class="card mb-3">

  <div class="row">

    <div class="col-md-6 ">

      <div class="container">

        <img src="/upload/{{producto.filename}}" class="img-fluid" alt="...">

      </div>
    </div>

    <div class="col-md-6">


      <div class="d-flex justify-content-end m-2 ">

          <a class="btn btn-danger ml-2 " href="/productos/{{producto.uniqueId}}" role="button">Cancelar</a>

      </div>

      <div class="card-body">

        <form action="/productos/{{producto.uniqueId}}/editar" method="POST">

            <div class="form-group">
               <p class="card-text mb-1"><strong>Nombre: </strong></p>
               <input type="text" name="nombre_prod" class="form-control"  value="{{producto.nombre}}" placeholder="Nombre del producto" required>

            </div>

            <div class="form-group">
                <p class="card-text mb-1"><strong>Descripcion: </strong></p>
                <textarea name="descripcion_prod" class="form-control" rows="2" placeholder="Descripcion del producto"
                        required>{{producto.descripcion}}</textarea>
            </div>

            <div class="form-group">
                <p class="card-text mb-1"><strong>Categoria: </strong></p>
                <input type="text" value="{{producto.categoria}}" name="categoria_prod" class="form-control" placeholder="Categoria del producto" required>
            </div>

            
            <div class="form-group">
                <p class="card-text mb-1"><strong>Stock: </strong></p>
                <input type="number" name="stock" value="{{producto.stock}}" class="form-control" placeholder="Cantidad del producto" required>
            </div>

            <div class="form-group">
                    <p class="card-text mb-1"><strong>Precio: </strong></p>
                    <input type="number" name="precio" value="{{producto.precio}}" class="form-control" placeholder="Precio del producto" required>
            </div>

            <div class="form-group">

              <button class="btn btn-success ml-2 btn-block" id="btn-actualizar" data-id="{{producto.uniqueId}}">
                Actualizar 
              </button>

            </div>
        </form>

      </div>

    </div>
  </div>
</div>

{{/if}}